<div *ngFor="let bubble of bubbles; let odd=odd; let index=index">
  <div class="timestamp">-- {{bubble.startTime | date: "hh:mm:ss"}} --</div>
  <div class="bubble">
    {{bubble.content}}
    <a class="pull-right" href=""><md-icon alt="play" color="primary">play_arrow</md-icon></a>
    <audio [src]="sanitizer.bypassSecurityTrustResourceUrl(bubble.dataURL)">
      Your browser does not support the <code>audio</code> element.
    </audio>
    <!--<button md-raised-button color="primary" class="player pull-right"><md-icon>play_arrow</md-icon></button>-->
  </div>
</div>
