<md-card>
  <md-card-content>
    <form>
      <md-input-container class="full-width">
        <input mdInput placeholder="Bluemix Credential" name="username" [(ngModel)]="username">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" name="password" [(ngModel)]="password" placeholder="Password">
      </md-input-container>
      <md-select placeholder="Watson Services" name="service" class="full-width" [(ngModel)]="selectedService">
        <md-option *ngFor="let service of services" [value]="service.name">
          {{service.name}}
        </md-option>
      </md-select>
      <md-input-container class="full-width">
        <input mdInput placeholder="URL" name="url" [(ngModel)]="url">
      </md-input-container>
      <button md-raised-button color="primary" [disabled]="submitted" (click)="getToken()">Get Token</button>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="<token>" rows="10" name="token" disabled>{{token}}</textarea>
      </md-input-container>
    </form>
  </md-card-content>
</md-card>
